<div class='contact-layout'>
    <div class='contact-image'>
        <img src="assets/travel. thailand 3.jpg"/>
    </div>
    <div class='contact-container'>
        <div></div>
        <div class='contact-title'>
            Contact
            <div class='contact-bar'>

            </div>
        </div>

        <div class='contact-email'>
            Email: <a href="mailto:scatalano23@yahoo.com">scatalano23@yahoo.com</a>
        </div>

        <div class='contact-quote'>
            “You can never get a cup of tea large enough or a book long enough to suit me.” – C.S. Lewis
        </div>

        <div class='contact-signature'>
            <img src="assets/sig 72.jpg"/>
        </div>
    </div>
    
</div>
