<div class="skills-layout">
    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/event logistics icon.webp"/>
        </div>
        <div>
            Event Logistics Management
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/administrative-support.png"/>
        </div>
        <div>
            Administrative Support
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/customer service icon.png"/>
        </div>
        <div>
            Customer Service
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/time management icon.png"/>
        </div>
        <div>
            Time Management and Scheduling
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/team building icon.png"/>
        </div>
        <div>
            Team Building
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/data-entry-icon.png"/>
        </div>
        <div>
            Data Entry
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/training icon.webp"/>
        </div>
        <div>
            Training
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/inventory management icon.png"/>
        </div>
        <div>
            Inventory Management
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/microsoft icon.png"/>
        </div>
        <div>     
            Microsoft Office
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/projectManagement.svg"/>
        </div>
        <div>
            Project Management
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/technology icon 2.png"/>
        </div>
        <div>
            Comfortable With Technology
        </div>
    </div>

    <div class="skills-card">
        <div class="skills-icon">
            <img src="../../../assets/organization icon 2.png"/>
        </div>
        <div>
            Organization
        </div>
    </div>
</div>
