<div class="about-layout">
    <div class="about-content about-text-content">
        <div class="about-center-text">
            Current Masters in Library Science student and experienced Event Technician
            with over six years of experience in the event planning industry. Excellent reputation for
            problem solving, resolving issues, improving customer satisfaction, and driving overall
            operational improvements. 
        </div>
    </div>
    <div class="about-content about-image-content">
        <img src="assets/mizzou_study_abroad.jpg"/>
    </div>
    <div class="about-content about-image-content">
        <img src="assets/about-travel.jpg"/>
    </div>
    <div class="about-content about-text-content">
        <div class="about-center-text">
            Proven success in leadership while training incoming staff,
            organizational development and operational excellence with a keen understanding of
            the event business. Recognized for inspiring team members to excel and encourage a
            creative work environment. Currently pursuing archival related fields.
        </div>
    </div>
</div>