<div class="education-layout">
    <div class="education-layout education-background-image-container">
        <img src="assets/education.jpg"/>
    </div>
    <div class="education-content">
        <div class='education-ba'></div>
        <div class="education-section education-ma">
            <div class='education-title'>MA- University of Missouri 2022</div>
            <div class='education-subtitle'>Master of Library and Information Science, emphasis in Archives</div>
            <div class='education-body'>Coursework in Reference, IT, Youth Learning, Archival Appraisal</div>
            <div class='border'></div>
            <div class='education-body'>Elected as Treasurer to Society of American Archivists at University of Missouri student chapter, Graduate Representative for Friends of the Libraries</div>
        </div>
        <div class='education-section education-ba'>
            <div class='education-title'>BA- University of Missouri 2017</div>
            <div class='education-subtitle'>Bachelor of Arts- Classics, History, Political Science</div>
            <div class='education-body'>Coursework in International relations, multiculturalism, and classical theory</div>
            <div class='border'></div>
            <div class='education-body'>Certificates in Leadership and Multicultural Issues</div>
            <div class='border'></div>
            <div class='education-body'>Received G.W.C. Award, Gold Scholar Award, 2014 Columbia Volunteer of the Month</div>
            <div class='border'></div>
            <div class='education-body'>Elected to Missouri Students Association Budget Chair, Student Fee Review Chair</div>
            <div class='border'></div>
            <div class='education-body'>Studied abroad in Thailand and Ireland</div>
        </div>
        <div class="education-ma"></div>
    </div>
</div>
