<div class='index-layout'>
  <div class='nav-bar'>
    <div class="nav-bar-profile">
      <img src="../assets/profile.jpg"/>
      <div style="margin-top: .25em">Shelby Catalano</div>
      <a href="mailto:scatalano23@yahoo.com">scatalano23@yahoo.com</a>
    </div>

    <div class='nav-bar-option' routerLink="/" routerLinkActive="active">
      <div class='nav-bar-text'>
        Home
      </div>
    </div>

    <div class='nav-bar-option' routerLink="/about" routerLinkActive="active">
      <div class='nav-bar-text'>
        About
      </div>
    </div>
  
    <div class='nav-bar-option' routerLink="/skills" routerLinkActive="active">
      <div class='nav-bar-text'>
        Skills
      </div>
    </div>

    <div class='nav-bar-option' routerLink="/education" routerLinkActive="active">
      <div class='nav-bar-text'>
        Education
      </div>
    </div>

    <div class='nav-bar-option' routerLink="/contact" routerLinkActive="active">
      <div class='nav-bar-text'>
        Contact
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>