<div class="home-layout">
    <div class="home-layout home-background-image-container">
        <img src="../../../assets/home.jpg"/>
    </div>
    <div class="home-title">
        Shelby Catalano
    </div>
    <div class="home-subtitle">
        Diversified skills to meet various project needs
    </div>
    <div class="download-button resume">
        <form method="get" action="../../../assets/Catalano. Resume. 2020.pdf">
            <button type='submit'>Download Resume</button>
        </form>
    </div>
    <div class="download-button cv">
        <form method="get" action="../../../assets/CV.Catalano.pdf">
            <button type='submit'>Download CV</button>
        </form>
    </div>
</div>
